<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BMTC Miles | RHoK 2013</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.leader-name').click(function() {
                    $(this).siblings('.tickets').slideToggle(200);
                });
            });
        </script>
    </head>
    <body>
        <div class="pure-g-r">

            <div class="header pure-u-1">
                <h1 class="pure-u-1">BMTC Miles</h1>
                <h2 class="pure-u">A Public Transport Leaderboard</h2>
            </div>

            <div class="leaderboard pure-g-r">
                {% for leader in leaders %}
                <div class="leader">
                    <div class="pure-u-1-2 leader-name">@{{ leader.username }}</div>
                    <div class="pure-u-1-2 leader-miles top">{{ leader.totalmiles }}</div>
                    <div class="tickets">
                        {% for ticket, timestamp in leader.tickets %}
                        <div class="ticket-image pure-u-1-2">
                            <img src="/ticket/{{ leader.username }}/{{ ticket }}-{{ timestamp }}.jpg" width="200px"/>
                        </div>
                        <div class="ticket-miles pure-u-1-2">+ {{ ticket }} miles</div>
                        {% endfor %}
                    </div> 
                </div>    
                {% endfor %}
            </div>
        </div>
    </body>
</html>
